.input-form-error{
    font-size: 12px;
    color: #ff5b5b;
    font-style: italic;
}
td{
    vertical-align: middle;!important;

}
th{
    text-align: center;
    vertical-align: middle;!important;

}
tr{
    text-align: center;
    vertical-align: middle;!important;
}
.order{
    text-align: center;
    width: 50px;
}
.w300{
    width: 300px;
}
.w100{
    width: 100px;
}
.w150{
    width: 150px;
}
.w50{
    width: 50px;
}
.w30{
    width: 30px;
}
.sortable{
    cursor: move;
}
.video_url_container{
    display: none;
}
.ortala{
    text-align: center;
    vertical-align: middle;!important;
}
